/* Navigation Menu */

.ant-menu-item > a {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item-selected > a {
  color: white !important;
}

/* .ant-menu-item:hover {
  background-color: #1890ff !important;
} */

.ant-menu-item > a:hover {
  color: lightpink !important;
}

.ant-card-body {
  margin: 5px !important;
  padding: 0px !important;
}

/* Drop down Menu */
a.ant-dropdown-link {
  color:white;
}

a.ant-dropdown-link:hover {
  color: lightpink;
}

.ant-layout {
  background-color: #222831 !important;
}

.ant-layout-footer {
  background-color: #222831 !important;
}

.ant-form-item label {
  color: white !important;
}
